venv/*

docker-output/*
output/*

video_generator/src/__pycache__
video_generator/src/*/__pycache__

resources/video/*
resources/credentials/*
resources/client_secret.json
resources/credentials.json
resources/prayers-channel-sa.json